<div class="form">
  <div class="mat-title">Activation d'authentification à facteurs</div>
  <p class="mat-body">
    Suivez les étapes suivantes pour activer l'authentification à facteurs pour
    votre compte.
  </p>
  <mat-vertical-stepper linear>
    <mat-step>
      <ng-template matStepLabel>Scannez le code QR</ng-template>
      <p *ngIf="qrCode" style="font-size: 10pt;">
        Scannez le code QR ou copier le code secret avec une application
        d'authentification tierce <br />(ex:
        <a
          href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
          target="_blank"
          >Google Authenticator</a
        >)
      </p>
      <div class="row" *ngIf="!qrCode">
        <mat-spinner
          style="margin-right: 0.5rem;"
          strokeWidth="3"
          [diameter]="width >= 1235 ? 25 : 20"
        ></mat-spinner>
        <span>Géneration du code QR</span>
      </div>
      <img
        *ngIf="qrCode"
        mat-card-image
        style="width: 200px; margin: 0px auto; display: block;"
        [src]="qrCode | safe"
      />
      <div class="code" *ngIf="qrCode">{{ secretCode }}</div>
      <div>
        <button *ngIf="qrCode" class="mt-3" mat-button matStepperNext>
          Continuer
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="verificationCodeFormGroup" *ngIf="qrCode">
      <form [formGroup]="verificationCodeFormGroup">
        <ng-template matStepLabel>Validation du code</ng-template>
        <mat-form-field appearance="outline" [style.fontSize.px]="14">
          <mat-label>Entrer le code de six chiffre</mat-label>
          <input
            matInput
            formControlName="code"
            placeholder="Ex : 123456"
            required
          />
        </mat-form-field>
        <div>
          <!-- <button mat-button matStepperPrevious>Retour</button> -->
          <button
            mat-button
            matStepperNext
            [disabled]="verificationCodeFormGroup.invalid"
            (click)="validateCode()"
          >
            Valider
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
