.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.left-items {
  margin-left: auto;
}

.logout {
  color: red;
}

.logout:hover {
  color: red;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
}

.navbar>* {
  position: fixed;
}


.avatar {
  /* background-image: url("https://picsum.photos/300"); */
  background-color: #eee;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border-radius: 90px;
  margin: 15px 0 20px 0;
}

.banner {
  background: #ffa700;
  position: fixed;
  z-index: 9999;
  display: 100vw;
  width: 100vw;
  padding: 15px 30px;
}

.logo-svg {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  margin-left: 2rem;
}


a.mat-list-item.active {
  background: #9fcdff61;
  color: #007bff;
  /* margin: 5px; */
}

@media all and (max-width: 1235px) {
  .navbar>* {
    position: initial;
  }
}
