<div
  class="banner"
  *ngIf="(this.timer | async) >= 0 && this.timer !== undefined"
>
  Votre session va être fermée automatiquement dans
  {{ this.MAX_TIME - (this.timer | async) }} secondes.
</div>
<mat-sidenav-container class="sidenav-container" *ngIf="isLoaded">
  <mat-sidenav
    #sidenav
    [mode]="width >= 1235 ? 'side' : 'over'"
    class="sidenav"
    [opened]="width >= 1235"
  >
    <div class="top">
      <img
        src="../../../assets/images/logo.svg"
        class="logo-svg"
        alt="Akinobank Logo"
      />
      <div
        class="avatar"
        [ngStyle]="{
          'background-image': (currentUser | async).photo | avatar | async
        }"
        *ngIf="(currentUser | async).photo"
      ></div>
      <div class="avatar" *ngIf="!(currentUser | async).photo">
        <!-- <mat-icon>account_circle</mat-icon> -->
      </div>
      <div class="account">
        <div class="account-name">
          {{ (currentUser | async).prenom }} {{ (currentUser | async).nom }}
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="dashboard"
        (click)="width < 1235 ? sidenav.toggle() : null"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>dashboard</mat-icon>
        <h3 matLine>Tableau de bord</h3>
      </a>
      <a
        mat-list-item
        routerLink="virements"
        (click)="width < 1235 ? sidenav.toggle() : null"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>credit_card</mat-icon>
        <h3 matLine>Mes virements</h3>
      </a>
      <a
        mat-list-item
        routerLink="recharges"
        (click)="width < 1235 ? sidenav.toggle() : null"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>add_ic_call</mat-icon>
        <h3 matLine>Mes recharges telephoniques</h3>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="journal"
        (click)="width < 1235 ? sidenav.toggle() : null"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>history</mat-icon>
        <h3 matLine>Journal d'activités</h3>
      </a>
      <a
        mat-list-item
        routerLink="settings"
        (click)="width < 1235 ? sidenav.toggle() : null"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>settings</mat-icon>
        <h3 matLine>Parametres du compte</h3>
      </a>
      <a mat-list-item class="logout" (click)="logout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <h3 matLine>Se deconnecter</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar fixed-top navb">
      <button
        *ngIf="width < 1235"
        (click)="sidenav.toggle()"
        mat-icon-button
        class="mr-2"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <p *ngIf="width < 1235">Akinobank</p>
      <div class="left-items">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
