<div class="form">
  <div class="mat-title">Effectuer une recharge</div>
  <p class="mat-body">
    Formualaire de recharge. Verifiez bien les informations avant de valider !
  </p>
  <mat-vertical-stepper linear>
    <mat-step
      [stepControl]="firstFormGroup"
      editable="false"
      *ngIf="!credentialsVerified"
    >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Le compte d'expédition</ng-template>
        <mat-form-field appearance="outline" [style.fontSize.px]="14">
          <mat-label>Le nº du compte d'expédition</mat-label>
          <mat-select
            formControlName="numeroCompte"
            (change)="credentialsVerified = false"
            required
          >
            <mat-option
              *ngFor="let compte of (currentUser | async).comptes"
              [value]="compte.numeroCompte"
            >
              {{ compte.numeroCompte }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" [style.fontSize.px]="14">
          <mat-label>Rentrer le code secret</mat-label>
          <input
            matInput
            formControlName="codeSecret"
            placeholder="Votre code secret"
            type="password"
            required
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="firstFormGroup.invalid"
            (click)="checkCredentials()"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" *ngIf="credentialsVerified">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>La données de recharge</ng-template>
        <mat-form-field appearance="outline" [style.fontSize.px]="14">
          <mat-label>L'operateur</mat-label>
          <mat-select formControlName="operateur">
            <mat-option value="Maroc Telecom">Maroc Telecom</mat-option>
            <mat-option value="Orange">Orange</mat-option>
            <mat-option value="Inwi">Inwi</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" [style.fontSize.px]="14">
          <mat-label>Le nº de téléphone</mat-label>
          <input
            matInput
            formControlName="numeroTelephone"
            placeholder="Ex : 0645671784"
            required
          />
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="14">
          <mat-label>Entrer le montant</mat-label>
          <input
            matInput
            [matAutocomplete]="montantAutocomplete"
            formControlName="montant"
            placeholder="Ex : 120.00"
            type="number"
            step="5"
            required
          />
          <mat-autocomplete #montantAutocomplete="matAutocomplete">
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
            <mat-option value="200">200</mat-option>
            <mat-option value="500">500</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="firstFormGroup.invalid || secondFormGroup.invalid"
            (click)="createRecharge()"
          >
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
