<nav class="nav">
  <!-- <div class="logo">
  </div> -->
  <img
    src="../../../assets/images/logo.svg"
    class="logo-svg"
    alt="Akinobank Logo"
  />
</nav>

<div class="background">
  <img class="background-svg" src="../../../assets/images/background.svg" />
</div>

<div class="container">
  <div class="ill">
    <img src="../../../assets/images/illustration.svg" class="ill" />
  </div>
  <div class="landing_desc">
    <h1 class="landing-header">Bienvenue à Akinobank</h1>
    <p class="landing-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      dolorum quasi neque quae impedit, cum id, totam doloremque iure delectus
      consectetur vel optio voluptas deleniti magnam cupiditate esse expedita.
      Corrupti.
    </p>
  </div>
  <div class="form_container">
    <mat-card *ngIf="!_2faForm">
      <mat-card-header>
        <mat-card-title>Se connecter</mat-card-title>
        <mat-card-subtitle>Veuillez entrer vos données</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form
          class="sign-form"
          [formGroup]="loginFormGroup"
          (keyup.enter)="login()"
        >
          <mat-form-field
            appearance="outline"
            style="width: -moz-available; width: -webkit-fill-available;"
          >
            <mat-label>Votre email / Nº de compte</mat-label>
            <input autofocus matInput formControlName="email" required />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            style="width: -moz-available; width: -webkit-fill-available;"
          >
            <mat-label>Mot de passe</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              required
            />
          </mat-form-field>
          <p
            *ngIf="loginFormGroup.get('email').valid"
            style="cursor: pointer; color: rgb(19, 121, 220); margin: 0;"
            (click)="sendVerificationMail()"
          >
            Renvoyer l'email
          </p>
          <div
            style="display: flex; margin: 1rem 0; align-items: center;"
            *ngIf="loggingIn"
          >
            <mat-spinner
              style="margin-right: 0.5rem;"
              strokeWidth="2"
              [diameter]="20"
            ></mat-spinner>
            <span>Connexion en cours ...</span>
          </div>
          <mat-error *ngIf="error">
            {{ error }}
          </mat-error>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          type="submit"
          style="
            background: #1379dc;
            width: -moz-available;
            width: -webkit-fill-available;
          "
          [style]="
            loginFormGroup.valid ? 'background: #1379dc' : 'background: #c5c5c5'
          "
          mat-flat-button
          [disabled]="loginFormGroup.invalid"
          *ngIf="!loggingIn"
          color="primary"
          (click)="login()"
        >
          Se connecter
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="_2faForm">
      <button mat-icon-button (click)="switchForms()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-header>
        <mat-card-title>Verification à deux facteurs</mat-card-title>
        <mat-card-subtitle
          >Veuillez entrer le code de six chiffres</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <form
          class="sign-form"
          [formGroup]="_2faFormGroup"
          (keyup.enter)="sendVerifyCodeRequest()"
        >
          <mat-form-field
            appearance="outline"
            style="width: -moz-available; width: -webkit-fill-available;"
          >
            <mat-label>Le code de verification</mat-label>
            <input autofocus matInput formControlName="code" required />
          </mat-form-field>
          <div
            style="display: flex; margin: 1rem 0; align-items: center;"
            *ngIf="loggingIn"
          >
            <mat-spinner
              style="margin-right: 0.5rem;"
              strokeWidth="2"
              [diameter]="20"
            ></mat-spinner>
            <span>Verification en cours ...</span>
          </div>
          <mat-error *ngIf="error">
            {{ error }}
          </mat-error>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          style="
            background: #1379dc;
            width: -moz-available;
            width: -webkit-fill-available;
          "
          [style]="
            _2faFormGroup.valid ? 'background: #1379dc' : 'background: #c5c5c5'
          "
          mat-flat-button
          color="primary"
          *ngIf="!loggingIn"
          (click)="sendVerifyCodeRequest()"
          [disabled]="_2faFormGroup.invalid"
        >
          Valider le code
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
